@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  border-bottom: 3px solid black;
}

header h1 {
  margin-left: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
}

#controles {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.controle {
  flex-shrink: 0;
}

input {
  width: 100px;
}

#tabela-hash {
  padding: 0 50px;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#diretorio tr {
  text-align: center;
}

tbody tr td {
  min-width: 20px;
}

#highlight1,
#highlight2 {
  border: 3px solid red;
  z-index: 10;
}

/* Footer */
.content {
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav a:hover {
    text-decoration: underline;
}
